* {
  box-sizing: border-box;
}
.container {
  font-size: 0;
  display: inline-block;
  border: 1px solid black;
  width: 900px;
  height: 900px;
}
.element {
  display: inline-block;
  width: 16.66%;
  height: 16.66%;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
